<% layout("/layouts/boilerplate") %>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a suitable title" type="text" class="form-control" required/>
        <div class="valid-feedback"><i>Title looks good!</i></div>
        <div class="invalid-feedback"><i>Add a suitable title</i></div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        class="form-control" required></textarea>
        <div class="invalid-feedback"><i>Decribe the place in short</i></div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
        name="listing[image]"
        type="file"
        class="form-control"
        required
      />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="" class="form-control" required />
          <div class="invalid-feedback"><i>Price should be valid</i></div>
        </div>
  
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="Country name" type="text" class="form-control" required />
          <div class="invalid-feedback"><i>Country name should be valid</i></div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label for="location" class="form-label">Location</label>
          <input
          name="listing[location]"
          placeholder="Location details"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback"><i>Location should be valid</i></div>
        </div>
        <div class="col-6 mb-3">
          <label for="category" class="form-label">Choose Category <span style="opacity: 0.5;">(Default Home Stay)</span></label>
          <div class=" input-group">
            <select class="form-control" id="inputGroupSelect01"  
            name="listing[category]" required>
              <option value="Home Stay">Home Stay</option>
              <option value="Iconic Cities">Iconic Cities</option>
              <option value="Islands">Islands</option>
              <option value="Lakefront">Lakefront</option>
              <option value="Mountain">Mountain</option>
              <option value="Castles">Castles</option>
              <option value="Forest">Forest</option>
              <option value="Amazing pools">Amazing pools</option>
              <option value="Villas">Villas</option>
            </select>
          <div class="invalid-feedback"><i>Choose a category</i></div>
          </div>
        </div>
      </div>
      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div>

</body>
